.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #0A0A0A;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 60px 40px 120px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 24px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 24px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color: #A7A7A7;
    background: #000000;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #222222;
    color: #999;
    cursor: pointer;
}

.resendLink {
    font-size: 14px;
    margin-top: 15px;
}

.resendLink a {
    color: #fff;
    text-decoration: underline;
}
