.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border: none;
}

.carouselInner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.carousel:hover .swiper {
    opacity: 1;
}

.carouselItem {
    background: transparent;
    border: none;
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 426px;
}

.image {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.caption {
    padding: 10px;
}

.swiper {
    transition: .3s;
    opacity: 0;
    padding: 0;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .3);
    position: absolute;
    cursor: pointer;
    color: white;
    border: none;
}

.right {
    right: 0;
    justify-content: flex-end;
}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(22, 22, 24, .95);
    display: flex;
    align-items: center;
    height: 25px;
}

.dots:before {
    content: "";
    border-color: transparent rgba(22, 22, 24, .95);
    border-style: solid;
    border-width: 25px 20px 0 0;
    position: absolute;
    left: -19px;
}

.dots:after {
    content: "";
    border-color: transparent transparent transparent rgba(22, 22, 24, .95);
    border-style: solid;
    border-width: 25px 20px 0;
    position: absolute;
    right: -39px;
}

.dot {
    border-radius: 100%;
    border: 1.7px solid #52616b;
    background-color: #2b2b30;
    opacity: 1;
    width: 13px;
    height: 13px;
    margin: 0 6px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex-shrink: 0;
}

.dot.active {
    border-radius: 100%;
    background-color: #fff;
    border: 1.7px solid #fff;
}

@media screen and (max-width: 768px) {
    .carouselItem {
        height: 100%;
        padding: 0;
    }

    .swiper {
        opacity: 1;
    }
}
