.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 2 * 56px);
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.viewMore {
    color: #268aef;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Figtree', sans-serif;
    background: transparent;
    cursor: pointer;
    border: none;
}

.divider {
    margin-bottom: 20px;
    margin-top: 12px;
    display: block;
    flex: 1 1 0;
    height: 0;
    max-height: 0;
    border: 0 solid hsla(0, 0%, 100%, .12);
    border-top-width: thin;
    transition: inherit;
    max-width: calc(100% - 2 * 56px);
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 19.2px;
    }

    .viewMore {
        font-size: 17.6px;
    }

    .wrapper, .divider {
        max-width: 100%;
    }

}
