.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding: 10px 0;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.navButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0 16px;
    position: relative;
    left: 0;
}

.navButton:hover {
    color: #aaa;
}

.navButtonRight {
    right: 0;
    left: auto;
}

.card {
    border: none;
    cursor: pointer;
    background-color: #161618;
    overflow: hidden;
    width: 213.3px;
    flex-shrink: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    padding: 0;
    height: 371.533px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cardImage {
    width: 100%;
    height: 213.3px;
    object-fit: cover;
}

.cardContent {
    padding: 8px;
    text-align: left;
    position: relative;
}

.cardTitle {
    color: #ffffff;
    text-align: left;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    height: 50.4px;
    overflow: hidden;
}

.priceSection {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.price {
    font-size: 13.6px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 4px;
}

.originalPrice {
    font-size: 16px;
    color: #888888;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.remainingBadge {
    margin: 4px 0 0;
    display: inline-block;
    text-align: left;
    padding: 5px 7px;
    background: #353539;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 7px;
    width: fit-content;
}

.gameName {
    font-size: 11.84px;
    color: white;
    margin-top: 8px;
}

.discountBadge {
    background-color: #52616b;
    color: #2af1fd;
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
    padding: 1px 8px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

@media screen and (max-width: 768px) {
    .navButton, .navButtonRight {
        display: none;
    }


    .cardTitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card {
        width: 100%;
    }
}

