.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    height: 62px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 9999999;
    background: rgba(0, 0, 0);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

.leftSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon,
.searchIcon {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {

    margin-right: 5px;
}

.rightSection {
    display: flex;
    align-items: center;
}

.signUpButton {
    text-wrap: nowrap;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11.84px;
    width: 75.3333px;
    height: 23.6833px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton {
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signUpButton:hover,
.loginButton:hover {
    opacity: 0.8;
}

.iconButton {
    background: transparent;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.iconButton:hover {
    color: #268aef;
}

.buttonSpace {
    padding-right: 16px;
}

.navbarContent {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .buttonSpace {
        padding-right: 4px;
    }
}

@media screen and (max-width: 400px) {
    .iconButton {
        display: none;
    }

    .buttonSpace {
        padding-right: 4px;
    }
}
